html , body , main {
  padding: 0;
  border: 0;
  margin: 0;
  box sizing: border;
  font: inherit;
  color: inherit;
}
body {
  background-color: deepskyblue
}
div {
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 10px groove orange;
  background-image: url("../../surf.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

main {
  width: 70% auto;
  margin: 0 auto;
  border: 2px solid black;
  background-color: lawngreen;
}
#s1 {
  color: blue;

}

#s2{
  color: red;
}
