html body main div {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
main {
  height: 100vh;
  border: 3px dashed red;
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: row;
  align-items: flex-start;
  align-content: flex-start;
}
div {
  height: 100px;
  border: 2px solid black;
  flex-grow: 1;
  flex-basis: 200px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
font: 700 22rem sans-serif;

}

#s1{
  flex-basis: 60%;
  background-color: blue;
}
#s2{
flex-basis: 60%;
background-color: darkblue;
}
#s3{
  flex-basis: 60%;
  background-color: lightblue;
}
